/* here you can put your own css to customize and override the theme */

.page-head .page-title {width:100%;}
.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu li>a>i {color:#fff;}
.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu .dropdown-menu-list>li a>i, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-dark .dropdown-menu.dropdown-menu-default>li a>i {color:#fff;}
.page-header .page-header-menu .hor-menu .navbar-nav>li .dropdown-menu li:hover>a>i {color:#b1bbc4;}