table > tbody > tr > td {vertical-align: middle !important;}
.inline-block {display: inline-block;}
tr.tachado td {text-decoration: line-through;}

.marginT, .marginTB, .marginAll { margin-top: 10px; }
.marginB, .marginTB, .marginAll { margin-bottom: 10px; }
.marginL, .marginLR, .marginAll { margin-left: 10px; }
.marginR, .marginLR, .marginAll { margin-right: 10px; }

.marginT.margin-2x, .marginTB.margin-2x, .marginAll.margin-2x { margin-top: 20px; }
.marginB.margin-2x, .marginTB.margin-2x, .marginAll.margin-2x { margin-bottom: 20px; }
.marginL.margin-2x, .marginLR.margin-2x, .marginAll.margin-2x { margin-left: 20px; }
.marginR.margin-2x, .marginLR.margin-2x, .marginAll.margin-2x { margin-right: 20px; }

.innerT, .innerTB, .innerAll { padding-top: 10px !important; }
.innerB, .innerTB, .innerAll { padding-bottom: 10px !important; }
.innerL, .innerLR, .innerAll { padding-left: 10px !important; }
.innerR, .innerLR, .innerAll { padding-right: 10px !important; }

.innerT.inner-2x, .innerTB.inner-2x, .innerAll.inner-2x { padding-top: 20px !important; }
.innerB.inner-2x, .innerTB.inner-2x, .innerAll.inner-2x { padding-bottom: 20px !important; }
.innerL.inner-2x, .innerLR.inner-2x, .innerAll.inner-2x { padding-left: 20px !important; }
.innerR.inner-2x, .innerLR.inner-2x, .innerAll.inner-2x { padding-right: 20px !important; }

.innerT.inner-4x, .innerTB.inner-4x, .innerAll.inner-4x { padding-top: 40px !important; }
.innerB.inner-4x, .innerTB.inner-4x, .innerAll.inner-4x { padding-bottom: 40px !important; }
.innerL.inner-4x, .innerLR.inner-4x, .innerAll.inner-4x { padding-left: 40px !important; }
.innerR.inner-4x, .innerLR.inner-4x, .innerAll.inner-4x { padding-right: 40px !important; }

.margin-top-none { margin-top: 0px !important; }
.margin-right-none { margin-right: 0px !important; }
.margin-bottom-none { margin-bottom: 0px !important; }
.margin-left-none { margin-left: 0px !important; }
.margin-none { margin: 0px !important; }

.padding-top-none { padding-top: 0px !important; }
.padding-right-none { padding-right: 0px !important; }
.padding-bottom-none { padding-bottom: 0px !important; }
.padding-left-none { padding-left: 0px !important; }
.padding-none { padding: 0px !important; }

.text-white {color: white;}
.text-black {color: black;}
.overflow-hidden {overflow: hidden;}
.separator {height: 10px;}
.strong {font-weight: bolder;}
.pointer {cursor: pointer;}
