/*profile sales summary*/

	.sale-summary ul {
	  	margin-top: -10px; 
	}

	.sale-summary li {
		padding: 10px 0;
		overflow: hidden;
		border-top: solid 1px #eee; 
	}

	.sale-summary li:first-child {
		border-top: none; 
	}

	.sale-summary li .sale-info {
		margin-top: 4px;
		float: left;
		color: #646464;
		font-size: 14px;
		text-transform: uppercase; 
	}

	.sale-summary li .sale-num {
		float: right;
		color: #169ef4;
		font-size: 20px;
		font-weight: 300; 
	}

	.sale-summary li a {
	    padding: 2px 6px;
	    line-height: 15px !important;
	    border: none;
	    margin-top: -4px !important;
	}

	.sale-summary li span a i {
		width: 13px;
		height: 14px;
		position: relative;
		display: inline-block; 
	}

	.sale-summary .caption h4 {
		color: #383839;
		font-size: 18px; 
	}

	.sale-summary .caption {
	  	border-color: #c9c9c9; 
	}