/* Layout 1 y 2 */
.page-header.navbar .page-logo .logo-default {
    margin: 13px 0 0;
    width: 120px;
}
/* Layout 3 */
.page-header .page-header-top .page-logo .logo-default {
    margin: 20px 0 0;
    width: 160px;
}

.hover-table:hover {cursor:pointer;}

.bootstrap-growl.alert {
	z-index: 99999999 !important;
}

.select2-container--bootstrap {
    display: block;
    z-index: 99999999;
}

.custom-h1 {color: #697882;font-size: 22px;font-weight: 400;margin:3px 0 5px;}

.datepicker.dropdown-menu {
    z-index: 100000000;
}
/*

.fade.in {
    z-index: 100000001;
}

.modal-backdrop, .modal-backdrop.fade.in{
	 z-index: 100000000;
}

.fade.in .select2-container--bootstrap{
	 z-index: 100000002;
}
*/

.contract_form .select2-container--bootstrap {
    display: block;
    z-index: 9999;
}

