/* Config Forms */
    /* Seleccion de archivos */
    .sl_files {
        border-style: dashed;
        border-width: 3px;
        border-color: #CCC;
        min-width: 30%;
        min-height: 40px;
        display: inline-block;
        cursor: pointer;
        padding: 2px;
    }
    .sl_files:hover, .sl_files:hover i {
        border-color: #616161;
        color: #616161;
    }
    /* Elementos de preview, para seleccion de archivo*/
    .sl_file {
        display: inline-block;
        padding: 2px 4px 2px 2px;
        background-color: #ececec;
    }
    .sl_file img{
        margin-right: 6px;
    }
    .sl_file .ext {
        width: 29px;
        height: 29px;
        display: inline-block;
        line-height: 29px;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
    }
    /* Seleccion de imagen */
    .sl_images {
        border-style: dashed;
        border-width: 3px;
        border-color: #CCC;
        min-width: 125px;
        min-height: 125px;
        display: inline-block;
        cursor: pointer;
        padding: 2px;
    }
    /* Elementos de preview, para seleccion de imagenes*/
    .sl_images:hover, .sl_images:hover i {
        border-color: #616161;
        color: #616161;
    }

/** 
 * User Library
 */
    .library_toolbar {
        padding: 10px;
        background: white;
        margin-bottom: 10px;
    }

    .tiles .tile .tile-object {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
    }

    .tiles .tile .tile-object>.name {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0px;
        font-weight: 400;
        font-size: 13px;
        color: #fff;
        width: 100%;
        word-break: break-all;
        padding: 0px 5px;
        font-size: 13px;
        text-align: center;
    }

    .tiles .tile .tile-object>.number {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
        text-align: right;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: .01em;
        line-height: 14px;
        margin-bottom: 8px;
        margin-right: 0px;
        padding: 0px 5px;
        width: 100%;
    }
    .tiles .tile .tile-object>.number .ext {
        float: left;
    }
    .tiles .tile .tile-body {
        height: 100%;
        /* vertical-align: middle; */
        padding: 10px;
        overflow: hidden;
        /* position: relative; */
        font-weight: 400;
        font-size: 12px;
        color: #fff;
        /* margin-bottom: 10px; */
        display: flex;
        text-align: center;
        font-size: 34px;
        justify-content: center;
        align-items: center;
    }

.tiles .tile.selected .corner:after, .tiles .tile.selected .check:after {
    z-index: 999;
}
.tiles .tile.selected, .tiles .tile:active {
    border-color: #90e02e!important;
}
.tiles .tile.selected .corner:after {
    content: "";
    display: inline-block;
    border-left: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 40px solid #90e02f;
    position: absolute;
    top: -3px;
    right: -3px;
}

/*
 * File Uploader
 */

    /* input */
    .fileuploader-theme-dragdrop .fileuploader-input {
        height: 53vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 2px dashed #c2cdda;
        border-radius: 3px;
        text-align: center;
        -webkit-transition: background-color 0.2s ease;
        transition: background-color 0.2s ease;
    }
    .fileuploader-theme-dragdrop .fileuploader-input .fileuploader-input-inner {
        -webkit-transition: opacity 0.2s ease;
                transition: opacity 0.2s ease;
    }
    .fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging .fileuploader-input-inner {
        opacity: 0.4;
    }    
    .fileuploader-theme-dragdrop .fileuploader-input.fileuploader-dragging img {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    .fileuploader-theme-dragdrop .fileuploader-input img {
        display: block;
        max-width: 64px;
        margin: 0 auto;
        margin-bottom: 30px;
        -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
    }
    .fileuploader-theme-dragdrop .fileuploader-input h3 {
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        font-size: 18px;
        font-weight: 500;
        color: #555a6b;
        white-space: normal;
    }
    .fileuploader-theme-dragdrop .fileuploader-input p {
        color: #74809d;   
    }
    .fileuploader-theme-dragdrop.fileuploader-is-uploading .fileuploader-input-caption:after {
        display: none;
    }
    .fileuploader-theme-dragdrop .fileuploader-pending-loader .right-half,
    .fileuploader-theme-dragdrop .fileuploader-pending-loader .spinner {
        background: #6381E6;   
    }
    .fileuploader-theme-dragdrop .fileuploader-input p {
        margin: 10px 0;   
    }

/***
TODO Page
***/
    /* Cubic Bezier Transition */
    .todo-sidebar {
      float: left;
      width: 230px;
      margin-right: 20px; }

    .todo-content {
      overflow: hidden; }

    .todo-tasklist-item-border-green {
      border-left: #3faba4 2px solid; }

    .todo-tasklist-item-border-blue {
      border-left: #4c87b9 2px solid; }

    .todo-tasklist-item-border-purple {
      border-left: #8877a9 2px solid; }

    .todo-tasklist-item-border-red {
      border-left: #d05454 2px solid; }

    .todo-tasklist-item-border-yellow {
      border-left: #d4ad38 2px solid; }

    .padding-top-10px {
      padding-top: 15px; }

    .todo-userpic {
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      border: 1px #cedae1 solid; }

    .todo-text-color {
      color: #45535b; }

    /* PROJECT LIST */
    .todo-projects-config {
      padding: 6px 9px 3px 9px !important; }
      .todo-projects-config > i {
        font-size: 14px !important; }

    .todo-tasklist {
      padding: 0; }

    .todo-project-list ul li a {
      font-size: 14px !important;
      padding: 8px 10px; }

    .todo-project-list .nav li a .badge {
      float: right;
      margin-top: 1px !important; }

    .todo-project-list .nav > li.active > a {
      color: #3f444a;
      background-color: #f1f4f7 !important; }

    /* END PROJECT LIST */
    /* TASK HISTORY */
    .todo-task-history {
      padding: 0;
      margin: 0; }
      .todo-task-history > li {
        padding: 5px 0; }
        .todo-task-history > li > .todo-task-history-desc {
          overflow: hidden; }
        .todo-task-history > li > .todo-task-history-date {
          font-size: 12px;
          float: right;
          width: 150px;
          margin-left: 10px;
          text-align: right;
          color: #999; }

    /* TASKS LIST */
    .todo-tasklist-item {
      background: #f6fbfc;
      padding: 10px;
      margin-bottom: 10px;
      margin-bottom: 15px;
      overflow: hidden; }
      .todo-tasklist-item:last-child {
        margin-bottom: 0; }

    div .todo-tasklist-item:hover {
      cursor: pointer;
      background-color: #edf7f9; }

    .todo-tasklist-item img {
      margin: 0 10px 10px 0; }

    .todo-tasklist-item-title {
      font-size: 15px;
      color: #2b4a5c;
      font-weight: 600;
      padding-top: 3px;
      padding-bottom: 13px; }

    .todo-tasklist-item-text {
      font-size: 13px;
      color: #577688;
      padding-bottom: 5px; }

    .todo-tasklist-item ul {
      margin: 5px 0 0 0px; }

    .todo-tasklist-item li {
      color: #577688;
      font-size: 13px;
      margin-right: 10px;
      margin-bottom: 5px;
      padding: 0 !important; }

    .todo-tasklist-item li i {
      color: #b3bfcb;
      font-size: 15px; }

    .todo-tasklist-controls {
      margin-top: 5px; }

    .todo-tasklist-date {
      color: #637b89 !important;
      margin-right: 12px; }

    .todo-tasklist-date i {
      color: #abbfca !important;
      margin-right: 5px; }

    /* END TASKS LIST */
    /* TASK BODY */
    .todo-taskbody-tasktitle {
      font-size: 18px;
      color: #778d96; }

    .todo-taskbody-taskdesc {
      font-size: 14px;
      color: #778d96; }

    .todo-username {
      font-size: 16px;
      color: #2b4a5c;
      font-weight: 600;
      padding: 15px 0 0 15px; }

    .todo-comment-head {
      padding-top: 3px; }

    .todo-comment {
      position: relative; }

    .todo-comment:hover > .todo-comment-btn {
      display: block; }

    .todo-comment-btn {
      display: none;
      position: absolute;
      top: 1px;
      right: 0px;
      font-size: 12px;
      color: #566e7c;
      border-color: #a2aeb5; }

    .todo-comment-btn:hover {
      color: #fff;
      background-color: #a1b6c2;
      border-color: #a1b6c2; }

    .todo-comment-username {
      font-size: 14px;
      color: #2b4a5c;
      font-weight: 600; }

    .todo-comment-date {
      font-size: 12px;
      color: #2b4a5c;
      font-weight: 400; }

    .todo-username-btn {
      margin: 14px 0 0 15px;
      color: #566e7c;
      border-color: #a2aeb5; }

    .todo-username-btn:hover {
      color: #fff;
      background-color: #a1b6c2;
      border-color: #a1b6c2; }

    .form .form-actions.todo-form-actions {
      padding-top: 10px;
      border: 0;
      margin: 0 0 20px 0; }

    /* END TASK BODY */
    /* RESPONSIVE MODE */
    @media (max-width: 991px) {
      /* 991px */
      .todo-sidebar {
        float: none;
        width: 100%;
        margin: 0; }
        .todo-sidebar > .portlet {
          margin-bottom: 20px; }
          .todo-sidebar > .portlet .portlet-title .tools {
            margin-left: 5px; }
      .todo-content {
        overflow: visible; } }

    .todo-tasklist-devider {
      display: none; }

    @media (max-width: 767px) {
      /* 767px */
      .todo-tasklist-devider {
        display: block;
        height: 20px;
        margin: 20px -10px;
        background: #F1F3FA; }
      /* TASK HISTORY */
      .todo-task-history > li {
        padding: 9px 0; }
        .todo-task-history > li > .todo-task-history-date {
          width: 100px;
          font-size: 11px; } }